* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    min-width: 1024px;
    max-width: 1400px;
    background: #000000; /* Fondo oscuro similar a Instagram */
    color: #fff; /* Color de texto blanco */
}

nav {
    min-width: 1024px;
    max-width: 1400px;
    position: fixed;
    width: 100%;
    z-index: 1;
    border-bottom: solid rgb(0, 0, 0) 1px;
    background: #000; /* Fondo oscuro para la barra de navegación */
    color: #fff; /* Color de texto blanco */
}

.nav-cont {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

.iconos .small-logo {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

header {
    width: 60%;
    margin: auto;
    transform: translateY(50px);
    padding: 20px 0;
}

.perfil-container {
    display: flex;
}

.perfil-container img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    cursor: pointer;
}

.contenedor-cabezera {
    margin-left: 100px;
}

.cabezera1 {
    width: 500px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: space-between;
}

.cabezera1 h1 {
    color: #fff; /* Color de texto blanco */
    font-weight: 100;
    font-size: 26px;
}

.cabezera1 button {
    background-color: transparent;
    color: #262626; /* Color del texto */
    font-weight: 600; /* Grosor de la fuente */
    padding: 1px 5px; /* Espaciado interno reducido para hacer los botones más pequeños */
    margin-right: 10px; /* Margen derecho entre botones */
    cursor: pointer; /* Cambiar el cursor al pasar el ratón */
}

/* Estilos al pasar el ratón sobre los botones */
.cabezera1 button:hover {
    background-color: #262626; /* Cambiar el color de fondo al pasar el ratón */
    color: #fff; /* Cambiar el color del texto al pasar el ratón */
}

/* Estilos específicos para el botón "Editar perfil" */
.cabezera1 .editar-perfil {
    border-radius: 4px; /* Agregar bordes redondeados */
    background-color: #262626; /* Cambiar el color de fondo */
    color: #fff; /* Cambiar el color del texto */
    border: none; /* Eliminar el borde */
}

/* Estilos al pasar el ratón sobre el botón "Editar perfil" */
.cabezera1 .editar-perfil:hover {
    background-color: #262626; /* Cambiar el color de fondo al pasar el ratón */
    color: #fff; /* Cambiar el color del texto al pasar el ratón */
}

/* Estilos específicos para el botón "Ver archivos" */
.cabezera1 .ver-archivos {
    border-radius: 4px; /* Agregar bordes redondeados */
    background-color: #262626; /* Cambiar el color de fondo */
    color: #fff; /* Cambiar el color del texto */
    border: none; /* Eliminar el borde */
}

/* Estilos al pasar el ratón sobre el botón "Ver archivos" */
.cabezera1 .ver-archivos:hover {
    background-color: #262626; /* Cambiar el color de fondo al pasar el ratón */
    color: #fff; /* Cambiar el color del texto al pasar el ratón */
}

.cabezera1 svg {
    cursor: pointer;
    fill: #fff; /* Cambiar el color del icono a blanco */
}

.cabezera2 {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin-bottom: 15px;
}

.cabezera3 h2,
.cabezera3 .p-des {
    font-size: 16px;
    margin-bottom: 5px;
}

/* Estilos para el contenedor de historias */
.historias {
    display: flex;
    overflow-x: auto;
    background-color: #000000; /* Fondo oscuro para el contenedor de historias */
    padding: 10px;
    border-bottom: 1px solid #000000; /* Cambiar el color del borde inferior */
}

/* Estilos para cada historia */
.historias__dev {
    display: flex;
    align-items: center;
}

/* Estilos para cada elemento de historia */
.historias__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px; /* Espacio entre cada historia */
}

.historias__item img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.historias__item p {
    font-size: 14px;
    margin: 5px 0; /* Espacio entre la imagen y el texto */
}

.linea {
    width: 100%;
    height: 1px;
    margin: auto;
    background-color: #262626;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: auto;
    padding: 15px;
}

.main-nav a {
    color: #fff; /* Color de texto blanco */
    text-decoration: none;
    font-size: 13px;
}

main {
    width: 70%;
    margin: auto;
    margin-top: 60px;
}

.mainCont__grid {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    grid-template-rows: repeat(5, auto);
    gap: 2%;
    height: auto;
}

.mainCont__grid div > img {
    width: 100%;
    cursor: pointer;
}